#homewrap
  #text
    #about
      About 
    %br
    #hello
      Hi, I'm Max. I am a senior EECS student at UC Berkeley. My focus within EECS is computer science, and computer security in particular. 
      %br
      %br
      :markdown
        I am currently involved in research [projects], staffing UC Berkeley CS [classes], and other [hobbies].
        [projects]: #{projects_path}
        [classes]: #{teaching_path}
        [hobbies]: #{misc_path}
    #contact
      %br
      %i maxfeldman14 (at) gmail (dot) com
  #picture
    
