#homewrap
  #title
    Misellaneous
  #subtitle
    Other miscellaneous things.
    %hr

  - @miscs.each do |misc|
    .project
      .projname
        #{misc[:name]}
      .projdesc
        :markdown
          #{misc[:description]}
