#homewrap
  #title
    Teaching
  #subtitle
    I help out with a couple of courses at Cal.
    %hr

  - @klasses.each do |klass|
    .project
      .projname
        #{klass[:name]}
      .projdesc
        :markdown
          #{klass[:description]}


