/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

html {
  height: 100%;
}

#header a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

#header a:visited {
  color: black;
}

#header a:hover {
  color: #680000;
}

#header a:active {
  color: #A80000;
}

#hub a{
  text-decoration: none;
  font-weight: bold;
  color: #680000;
}

#hub a:visited {
  color: #680000;
}

#hub a:hover {
  text-decoration: underline;
}

#hub a:active {
  color: #A80000;
}


body {
  font-family: Palatino Linotype, serif;
  height: 100%;
  background-color: #F0F0F0;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 2em;  /* must be same height as the footer */
}

#header {
  border: 3px solid #383838;
  height: 1.5em;
  background-color: white;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-size: 150%;
  box-shadow: -3px 3px 8px #888888;
}

#logobox {
  float: left;
  width: 8em;
  padding: 5px;
  margin:auto 0;
}

#navbar {
  list-style-type: none;
  padding: 0;
  float: right;
  width: 23em;
  text-align: right;
}

#navbar li {
  display: inline-block;
  padding: 5px;
  margin: -1px;
}

.clear {
  clear: both;
}

#content {
  min-height: 100%;
  background-color: white;
  width: 90%;
  margin: 1em auto 0;
  box-shadow: -3px 3px 8px #888888;
  border: 1px solid #383838;
}

#invisodiv {
  height: 3em;
}
#homewrap {
  padding: 1em;
}

#title {
  font-size: 135%;
  font-weight: bold;
}

#hello a {
  text-decoration: none;
  font-weight: bold;
  color: #680000;
}

#hello a:visited {
  color: #680000;
}

#hello a:hover {
  text-decoration: underline;
}

#hello a:active {
  color: #A80000;
}

#hello {
  width-right: 45%;
  font-size: 120%;
  line-height: 1.4em;
}

#subtitle {
  width-right: 45%;
  font-size: 100%;
  line-height: 1.4em;
  margin-top: .5em;
}

.projname {
  width-right: 45%;
  font-size: 120%;
  line-height: 1.4em;
  font-weight: bold;
  margin: .2em 0;
}

.projdesc a {
  text-decoration: none;
  font-weight: bold;
  color: #680000;
}

.projdesc a:visited {
  color: #680000;
}

.projdesc a:hover {
  text-decoration: underline;
}

.projdesc a:active {
  color: #A80000;
}

.projdesc {
  width-right: 45%;
  font-size: 100%;
  line-height: 1.4em;
  margin-bottom: 1em;
}

#picture {
  float: right;
  width: 310px
  height: 400px;
  margin-left: 10%;
}

.projimg {
  float: right;
  display:block;
}


#footer {position: relative;
  margin-top: -2em; /* negative value of footer height */
  height: 2em;
  clear:both;
  text-align: center;
} 

#contact {
  margin: 1em 0em;
}

